<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <p>Dear <b>{{name}}</b></p>
      
      <p>
        We are thrilled to welcome you to
        <b>Mobilab2u</b>
        as a valued member of our telemedicine team! Congratulations on
        successfully enrolling with us.
      </p>
      <br />
      <p>
        Your medical expertise and dedication to delivering high-quality care
        will be a tremendous asset as we continue to revolutionize healthcare
        through virtual consultations
      </p>
      <br />
      <p>
        At
        <b> Mobilab2u</b>, we are committed to enhancing patient experiences by
        providing convenient, accessible, and professional care through our
        telemedicine platform. As part of our growing network, you’ll have the
        opportunity to make a real impact on patients’ lives — all within a
        flexible and innovative working environment
      </p>
      <p>Note: You can log in using your registered credentials</p>
      <br />
      <p>
        If you have any questions or require assistance at any stage, please
        don’t hesitate to contact our support team. We're here to support you
        every step of the way and ensure a seamless transition into your new
        role
      </p>
      <br />
      <p>
        Once again, welcome aboard! We’re confident that your journey with
        Mobilab2u will be both impactful and fulfilling.
      </p>
      <br />    
      <p>Warm regards,</p>
      <p>Administration Team,</p>
      <p>Mobilab2u.com</p>
    </div>
  </body>
</html>