<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div>
      <p>Dear <b>{{name}}</b>,</p>
      <p>
        Thank you for your interest in our program. We have carefully reviewed
        your application, and unfortunately, we regret to inform you that we
        will not be moving forward with your registration at this time.
      </p>
      
      <p>
        We understand this may be disappointing news, and we encourage you to
        continue pursuing your goals. Please feel free to reapply in the future
        if your circumstances change or if you gain additional qualifications
        that may strengthen your application.
      </p>
      <p>
        If you have any questions or would like feedback on your application,
        please don't hesitate to contact us.
      </p>
      <div>
        <p>From,</p>
        <p>Administration Team,</p>
        <p>Mobilab2u.com</p>
      </div>
    </div>
  </body>
</html>