version: '3.8'

services:
  reverse-proxy:
    image: traefik:v3.1@sha256:f4efd119261d623362d4420a35510ebbee6dd75140c8599aae0aa58251139474
    command:
      - '--log.level=DEBUG'
      - '--api.insecure=true'
      - '--providers.docker=true'
      - '--providers.docker.exposedbydefault=false'
      - '--entryPoints.web.address=:80'
      - '--entryPoints.websecure.address=:443'
      - '--certificatesresolvers.myresolver.acme.tlschallenge=true'
      - '--entrypoints.web.http.redirections.entrypoint.to=websecure'
      - '--entrypoints.web.http.redirections.entrypoint.scheme=https'
      #- "--certificatesresolvers.myresolver.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
      - '--certificatesresolvers.myresolver.acme.email=info@mobilan2u.com'
      - '--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json'
    ports:
      - '80:80' # The HTTP port
      - '443:443'
      - '8081:8080' # The Web UI (enabled by --api.insecure=true)
    volumes:
      - '~/letsencrypt:/letsencrypt'
      - /var/run/docker.sock:/var/run/docker.sock # So that Traefik can listen to the Docker events
    networks:
      - node-network

  fastify-app:
    env_file:
      - ./m2u-server/.env
    build:
      context: ./m2u-server
      dockerfile: Dockerfile
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.fastify-app.rule=(Host(`${DOMAIN_NAME}`) || Host(`www.${DOMAIN_NAME}`)) && PathRegexp(`/api`)'
      - 'traefik.http.services.fastify-app.loadbalancer.server.port=9000'
      - 'traefik.http.routers.fastify-app.entrypoints=websecure'
      - 'traefik.http.routers.fastify-app.tls.certresolver=myresolver'
    command: npm run start:prod
    networks:
      - node-network
    depends_on:
      - reverse-proxy

networks:
  node-network:
    driver: bridge
