@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
*:focus {
  outline: none;
}
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.custom-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.ios-scroll {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}

table {
  border: 2px solid #ddd;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
  overflow: hidden;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

th,
td {
  padding: 5px 4px 6px 4px;
  text-align: left;
  vertical-align: top;
}

td {
  border-top: 1px solid #ddd;
}

thead tr:first-child th:first-child {
  border-top-left-radius: 4px;
}

thead tr:first-child th:last-child {
  border-top-right-radius: 4px;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}
input[type='number'].no-spinner::-webkit-inner-spin-button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.swiper-pagination-bullet-active {
  background-color: #dc2626 !important;
}
